<mat-toolbar class="header" fxFlex>
  <mat-tab-group>
    <mat-tab label="Financial">
      <ngx-chartjs
        [data]="financial"
        type="line"
        [options]="chartDefaultOptions"
      ></ngx-chartjs>
    </mat-tab>
    <mat-tab label="Overview">
      <ngx-chartjs
        [data]="overview"
        type="bar"
        [options]="chartDefaultOptions"
      ></ngx-chartjs>
    </mat-tab>
    <mat-tab label="Services">
      <ngx-chartjs [data]="services" type="pie"></ngx-chartjs>
    </mat-tab>
  </mat-tab-group>
</mat-toolbar>
